.cart {
  background-color: #fbfbf1;
  padding-bottom: 30px;
}

.cartTitle {
  font-family: "Knewave", cursive;
  font-size: 85px;
  color: #eb8137;
  padding-top: 30px;
  margin-left: 140px;
  margin-bottom: 30px;
}
