.cart {
  background-color: #fbfbf1;
  padding-bottom: 30px;
}

.coffeeDetailsTitle {
  font-family: "Knewave", cursive;
  font-size: 85px;
  color: #eb8137;
  text-transform: uppercase;
  padding-top: 30px;
  margin-left: 140px;
  margin-bottom: 30px;
}

.description {
  margin-left: 140px;
  margin-right: 140px;
}

.shoppingOptions {
  margin-left: 140px;
  margin-right: 140px;
}

.coffeeImage {
  width: 32em;
  height: 32em;
  object-fit: cover;
}

.price,
.size,
.grind,
.quantity,
.total {
  font-family: "Knewave", cursive;
  color: #191923;
  font-size: 30px;
}
