.coffeeDetails {
  font-family: "Knewave", cursive;
  font-size: 85px;
  color: #eb8137;
  margin-left: 140px;
  text-transform: uppercase;
}

.description {
  margin-left: 140px;
  margin-right: 140px;
}

.shoppingOptions {
  margin-left: 140px;
  margin-right: 140px;
}

.coffeeImage {
  width: 32em;
  height: 32em;
  object-fit: cover;
}

.price,
.size,
.grind,
.quantity,
.total {
  font-family: "Knewave", cursive;
  color: #191923;
  font-size: 30px;
}
