.orderList {
  margin-left: 140px;
}
.ordersTableTitle {
  font-family: "Knewave", cursive;
  color: #eb8137;
  font-size: 30px;
  margin-bottom: 30px;
  padding-right: 25px;
  text-transform: uppercase;
}

.orderIdButton {
  background-color: #00a900;
  border: none;
  border-radius: 12px;
  color: #fbfbf1;
  padding: 15px;
  font-family: "Knewave", cursive;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.ordersTableInfo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  color: #191923;
}
