.intro {
  background-color: #fbfbf1;
  padding-top: 120px;
  padding-bottom: 120px;
}

.welcome,
.discoverHeadline,
.beansHeadline {
  font-family: "Knewave", cursive;
  font-size: 85px;
  color: #191923;
  margin-left: 140px;
}

span {
  color: #eb8137;
}

.discover {
  background-color: #017ff3;
  padding-top: 30px;
  padding-bottom: 30px;
}

.beans {
  background-color: #fbfbf1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.coffeePicture {
  margin-right: 130px;
  margin-bottom: 50px;
  width: 40%;
  height: auto;
}

.allCoffeePictures {
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.viewWebshop {
  font-family: "Knewave", cursive;
  margin-left: 1370px;
}
